@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@900&family=Nunito+Sans:wght@600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:wght@500;600;700;800&family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@600;700;800;900&family=Source+Sans+Pro:wght@600;700;900&family=Space+Mono:wght@700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

.StandardFont {
    font-family: 'Nunito', sans-serif !important;
}

.euiFieldText {
    box-shadow: 0 0 transparent, 
        inset 0 0 0 1px rgba(17, 42, 134, 0.1), 
        0 0 0 1px #e0e0e0, 
        0 2px 4px 0 rgba(0, 0, 0, .07), 
        0 1px 1.5px 0 rgba(0, 0, 0, .05) !important;
}

.euiFormControlLayout--group {
    box-shadow: 0 0 transparent, 
        inset 0 0 0 1px rgba(17, 42, 134, 0.1), 
        0 0 0 1px #e0e0e0, 
        0 2px 4px 0 rgba(0, 0, 0, .07), 
        0 1px 1.5px 0 rgba(0, 0, 0, .05) !important;
}

.euiFieldPassword:focus {
    background-image: linear-gradient(to top, #635bff, #635bff 2px, transparent 2px, transparent 100%) !important;
}

.euiFieldText:focus {
    background-image: linear-gradient(to top, #635bff, #635bff 2px, transparent 2px, transparent 100%) !important;
}

.euiFormLabel.euiFormLabel-isFocused {
    color: #4b50ec !important;
}

.euiCheckbox__label {
    font-weight: 600;
}